<a href="https://colab.research.google.com/github/GeraldHufana/58010-DSAA/blob/main/ARRAY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#accessing the elements in the array

int arr [4] = {"crocodile", "elephant", "t rex", "barney"}
arr [0] = 0
arr [1] = 1
arr [2] = 2
arr [3] = 3

print(3)

In [5]:
#modifying  the elements in the array

color = ["yellow", "blue", "green"]
color[0]= "green"
print(0)

0

In [4]:
animal = ["crocodile", "elephant", "barney"]
x = animal[2]
print(x)

barney

In [30]:
# length of array

animal = ["cat", "dog", "fish"]
x = len(animal)
print(x)

3

In [9]:
#looping array elements

animal = ["crocodile", "elephant", "barney"]
for x in animal:
  print(x)

crocodile
elephant
barney

In [10]:
#adding element in the array

animal = ["crocodanile", "elephant", "barney"]
animal.append("t rex")
print(animal)

['crocodile', 'elephant', 'barney', 't rex']

In [13]:
#removing element in the array

animal = ["crocodile", "elephant", "barney"]
animal.pop(2)
print(animal)

['crocodile', 'elephant']

In [24]:
animal = ["cat", "fish", "dog"]
animal.pop(0)
animal.append("monkey")
print(animal)
x = len(animal)
print(animal[1])

['fish', 'dog', 'monkey']
dog

In [33]:
animal = ["monkey", "fish", "dog", "cat"]
animal.sort()
print("ascending order",animal)

ascending order ['cat', 'dog', 'fish', 'monkey']

In [38]:
from typing import Reversible
animal = ["monkey", "fish", "dog", "cat"]
animal.sort(reverse=True)
print("descending order", animal)

descending order ['monkey', 'fish', 'dog', 'cat']